// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.total_attendence { float:right;
                    margin-right:-400px;
                    padding: 0px 14px 14px 14px;
                    width:600px;
                    background:#CCFFFF;
                    color:black;border:0px solid black;
                    border-radius:4px;}
