// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body-data {height:300px;}

#previous_event {
                 border-radius:5px;
                 background:#fff;
                 color:saddlebrown;
                 width:300px;
                 padding:5px;}
                 
#current_event {border-radius:5px;
                background:#fff;
                color:saddlebrown;
                width:300px;
                padding:5px;
                float:right;
                margin-right:-570px;
                margin-top:-150px;}                 
